header {
  background-color: rgb(235, 30, 42);
  height: 75px;
  width: 100%;
  border-bottom: 1px solid white;
  position: fixed;
}
header nav {
  text-align: center;
  padding-top: 25px;
}
header nav a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  background-color: rgb(22, 56, 86);
  border-radius: 5px;
  border: 2px solid white;
}
header nav a:hover {
  background-color: rgb(0, 132, 246);
  border: 1px solid white;
}

main {
  background-color: rgb(22, 56, 86);
  width: 100%;
  padding-top: 100px;
}
main p {
  margin: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  text-align: center;
}
main .parte1 {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}
main .parte1 .tabla {
  width: 300px;
  margin-left: 10px;
  margin-bottom: 25px;
  border: 3px solid black;
}
main .parte1 .dos {
  border: 1px solid white;
  margin-top: 140px;
  width: 500px;
  height: 400px;
  background-image: url(../Imagenes/Inicio2.jpg);
  background-size: cover;
  display: none;
}
main .parte1 .dos:hover {
  border: 3px solid white;
}
main .parte1 .dos a {
  color: rgb(235, 30, 42);
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
main .parte1 .dos a:hover {
  color: white;
}
main .parte1 .dos p {
  color: rgb(235, 30, 42);
  text-align: center;
  margin-top: 250px;
}
main .parte1 .tres {
  border: 1px solid white;
  margin-top: 140px;
  width: 500px;
  height: 400px;
  background-image: url(../Imagenes/Fotoprincipal.jpg);
  margin-right: 25px;
  display: none;
}
main .parte1 .tres:hover {
  border: 3px solid white;
}
main .parte1 .tres a {
  color: rgb(235, 30, 42);
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
main .parte1 .tres a:hover {
  color: white;
}
main .parte1 .tres p {
  color: rgb(235, 30, 42);
  text-align: center;
  margin-top: 200px;
}
main .video {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
main .video p {
  width: 500px;
  text-align: center;
  padding-top: 50px;
  margin-left: 300px;
  display: none;
}
main .video .video1 {
  border: 3px solid black;
  width: 300px;
  height: 300px;
  margin-left: 10px;
  margin-top: 10px;
}
main .parte2 {
  border-top: 1px solid white;
}
main .parte2 .mini1 {
  width: 300px;
  margin-left: 11px;
  margin-top: 20px;
}
main .parte2 .mini1:hover {
  border: 3px solid white;
}
main .parte2 .titulo1 {
  margin-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  text-decoration: none;
}
main .parte3 .titulo2 {
  margin-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  text-decoration: none;
}
main .parte3 .mini2 {
  width: 300px;
  margin-left: 11px;
  margin-top: 20px;
}
main .parte3 .mini2:hover {
  border: 3px solid white;
}

footer {
  background-color: rgb(235, 30, 42);
  border-top: 1px solid white;
}
footer .redes {
  border-bottom: 1px solid white;
  margin-top: 20px;
  padding-bottom: 20px;
}
footer .redes a {
  color: white;
  text-decoration: none;
  padding-left: 125px;
}
footer .redes a:hover {
  color: black;
}
footer .contacto {
  display: flex;
  justify-content: space-between;
}
footer .contacto .mapa {
  width: 100px;
  height: 100px;
  margin: 10px;
}
footer .contacto a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  margin-top: 25px;
}
footer .contacto .baner {
  width: 700px;
  height: 30px;
  border-radius: 10px;
  display: none;
  margin-top: 25px;
}

@media screen and (min-width: 1024px) {
  .dos {
    display: block;
  }
  .tres {
    display: block;
  }
  .video p {
    display: block;
  }
  .parte2 {
    padding-left: 600px;
  }
  .parte3 {
    padding-left: 600px;
  }
  .redes {
    padding-left: 600px;
  }
  .baner {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
