header{
    background-color: rgb(235, 30, 42);
    height: 75px;
    width: 100%;
    border-bottom: 1px solid white;
    nav{
        text-align: center;
        padding-top: 25px;
        a{
            color: white;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            padding: 5px;
            background-color: rgb(22, 56, 86);
            border-radius: 5px;
            border: 2px solid white;
        }
    }
}

main{
    background-color:  rgb(22, 56, 86);
    width: 100%;
    .primeraparte{
        padding-top: 25px;
        padding-bottom: 50px;
        border-bottom: 1px solid white;
    }
    .video{
        padding-bottom: 25px;
        border-bottom: 1px solid white;
        .marca{
            width: 250px;
            height: 200px;
            margin-left: 20px;
            margin-top: 15px;
        }
        img{
            width: 250px;
            margin-left: 20px;
            margin-top: 15px;
        }
    }
    .texto{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        border-bottom: 1px solid white;
        p{
            padding-top: 25px;
            padding-bottom: 25px;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}

.ultimo{
    background-color: rgb(235, 30, 42);
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    .logotienda{
        width: 150px;
        padding: 5px;
    }
    .Sitio{
        text-decoration: none;
        color: yellow;
        border: 1px solid yellow;
        border-radius: 5px;
        padding: 5px;
    }
    .baner{
        width: 700px;
        height: 30px;
        border-radius: 10px;
        display: none;
    }
}

.Sitio:hover{
    border: 3px solid yellow;
}
header nav a:hover{
    background-color: rgb(0, 132, 246);
    border: 1px solid white;
}


@media screen and (min-width: 1024px){
    .marca{
        width: 500px;
        height: 500px;
        margin-right: 50px;
    }
    .video{
        display: flex;
        justify-content: center;
    }
    .video img{
        width: 400px;
    }
    .ultimo{
        justify-content: space-between;
    }
    .baner{
        display: block;
    }
   
}